<!DOCTYPE html>
<html>
  <head>
    <title>Subhobrata Dey</title>
    <style>a:link	{
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
    color: brown;
    text-decoration:none;
}
a:visited { color: blue; }
a:hover	{ color: red; }
a:active { color: lightblue; } 
.Title{ 
    top-margin:5px;
    bottom-margin:5px;
    font-family: arial-black;
    font-size: 15px;
    font-weight: bold;
    color: green;
    border-bottom: 1px solid red;
    border-top: 1px solid blue;
}
.Title2{ 
    top-margin:5px;
    bottom-margin:5px;
    font-family: arial-black;
    font-size: 15px;
    font-weight: bold;
    color: green;
    border-bottom: 1px solid red;
    border-top: 1px solid blue;
}
.Project {
    border-bottom: 1px solid #fffdfd;
    border-top: 1px solid #fffdfd;
    border-right: 1px solid #fffdfd;
    border-left: 1px solid #fffdfd;
    color:#EE4F1F;
}
table 	{ 
    font-family: verdana;
    font-size: 13px;
}
li{
    padding-left:10px;
    margin-right: 50px;
    padding-right:200px;
}
    </style>
  </head>
  <body topmargin="5px" leftmargin="5px">
    <table cellspacing="1" bgcolor="#ffffff" cellpadding="5" align="center" width="90%">
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" valign="bottom" style="font-family:arial-black;font-weight:bold;"><font color="#000000" style="font-size:25px;">Subhobrata Dey <br/></font><font color="darkblue" style="font-size:13px">
                   
                  Software Engineer<br/>
                  email: subhobrata.dey@sap.com<br/>
                  SAP Labs India<br/>
                  phone : +919886136684<br/>
                  <br/>   </font></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Work Experience</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td><b>
                  <li>SAP Labs India, (2012 - current)</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Software Engineer ( Developer )</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Education</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td><b> 
                  <li>Jadavpur University, Kolkata, India (2008-2012)</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Bachelor Of Engineering,</td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;First Class</td>
            </tr>
            <tr>
              <td><b>
                  <li>Jodhpur Park Boys School, Kolkata, India</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Schooling, Higher Secondary Examination, 2008</td>
            </tr>
            <tr> 
              <td width="600px">&nbsp;&nbsp;&nbsp;First Division with Distinction</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Projects</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td><b>
                  <li>Internet of Things Storing files in Openstack Swift</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Working on a prototype jointly with HCP to store Files in Openstack Swift Objectstore. Only developer from Application side to lead the prototype. The project is supervised by Carsten Ziegler.</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Scala, Java, Python<br/><br/>    </td>
            </tr>
            <tr>
              <td><b>
                  <li>Internet of Things Hadoop Platform Project</li></b></td>
            </tr>
            <tr>
              <td width="600px">
                &nbsp;&nbsp;&nbsp;Member of IOT Reuse Hadoop central architecture group. Working on topics of analysis of time series data generated by machines.
                Completed a <b>mini-Fellowship in Walldorf </b>
                <in>March-April,2015 where I proposed a new architecture for storing event data generated by machines as Log files using Hadoop. </in>The goal of this project is to evaluate various Hadoop ecosystem components ( like Yarn, HBase, Hive, Kafka, Sqoop, Tez, Spark, Storm, Zeppelin, IPython notebooks etc. ) & come up with a target architecture for IOT Applications.
              </td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Scala, Java, Python<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>Internet of Things Platform for Siemens</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Member of core group for developing api s. Working on developing REST APIs using RAML & deploying it using Cloudfoundry.</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Java, CloudFoundry, RAML, Jersey<br/><br/>        </td>
            </tr>
            <tr>
              <td><b>
                  <li>SAP Internet of Things PDMS Demo application</li></b></td>
            </tr>
            <tr>
              <td width="600px">
                &nbsp;&nbsp;&nbsp;Worked on IOT PDMS Demo application which was shown as demo app in SPS(Siemens) Fair in November,      2014.
                Developed the UI & Backend components ( Calculation view models, odata etc.) which was used to classify the percentage of errors in different Object properties of the Kuka robot. This was one of the most demoed scenarios of the app in the fair.
                Was responsible for overall performance optimizations ( both in UI & backend ) of the application.
              </td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> SAP HANA DB/XS Engine ,SAP UI5, Javascript, CSS,D3.js<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>SAP Bengaluru Football Club application</li></b></td>
            </tr>
            <tr>
              <td width="600px">
                &nbsp;&nbsp;&nbsp;Worked on the SAP HANA Graph Engine for efficiently modelling the entire fan club of the Bengaluru Football Club.
                Built a prototype to implement the entire backend model in SAP HANA Graph DB.
              </td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> SAP HANA Graph DB, Stored procedures, Symbiosis Engine<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>SAP Fiori Apps developed for ERP Project Systems</li></b></td>
            </tr>
            <tr>
              <td width="600px">
                &nbsp;&nbsp;&nbsp;Worked on all three archetypes Analytical apps, Transactional apps & Factsheets.
                Prepared backend & worked on Frontend.
                Extensively worked on HANA Calculation views, Stored procedures, Authorizations, ODATA modelling on SAP HANA XS Engine etc. for SAP Fiori analytical apps.
              </td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> SAP HANA DB/XS Engine, ABAP,SAP UI5, Javascript, CSS,Git, Gerrit, Jenkins<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>SQL Optimizations on ERP Project Systems: Suite on HANA</li></b></td>
            </tr>
            <tr>
              <td width="600px">&nbsp;&nbsp;&nbsp;Worked on Open SQL, Native SQL, Stored Procedures to optimize performance of SAP ERP Project Systems(specifically transactions CN*N).</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> ABAP, SAP HANA DB<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>SAP Lumira-Julia connector</li></b></td>
            </tr>
            <tr>
              <td width="600px">
                &nbsp;&nbsp;&nbsp;Here I worked on Julia Programming Language, Gadfly & Grammar of Graphics which led to the integration of Julia & Lumira which will allow Lumira extensions to be developed in Julia.
                Code available in github. ( <a href="https://github.com/sbcd90/Lumira.jl">https://github.com/sbcd90/Lumira.jl</a> )
              </td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Julia, HTML, Javascript, D3.js<br/><br/>    </td>
            </tr>
            <tr>
              <td><b>
                  <li>Regi and ruby</li></b></td>
            </tr>
            <tr>           
              <td width="600px">&nbsp;&nbsp;&nbsp;A ruby gem which provides SAP HANA Regi api s in ruby & helps a ruby developer (who want to use SAP HANA XS Engine 1, as the application development platform) in committing Git repos to HANA XS. Further details can be found in the github repo( <a href="https://github.com/sbcd90/Regiandruby">https://github.com/sbcd90/Regiandruby</a> ).</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Ruby, Ruby gems,Rake<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>Development of QT based GUI desktop app on a fault tolerant system setup</li></b></td>
            </tr>
            <tr>           
              <td width="600px">&nbsp;&nbsp;&nbsp;Worked on a C++ implementation of a desktop app which tracks keyboard & mouse events using framebuffers & synchronizes two systems by means of sockets. Slightly modified VNC protocol used for this.</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> C++, QT, Sockets in C++,QT/GNU Framebuffer api s<br/><br/></td>
            </tr>
            <tr>
              <td><b>
                  <li>SAP HANA Studio Plugin for automated testing of Virtual Data Models</li></b></td>
            </tr>
            <tr>           
              <td width="600px">&nbsp;&nbsp;&nbsp;Eclipse plugin which fetches data from ABAP & does Pattern recognition in XML & sends results to ABAP Backend from which an automated ABAP Unit Test Class is generated.</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> JAVA,ABAP,SAP HANA, Sockets, REST APIs<br/><br/>    </td>
            </tr>
            <tr>
              <td><b>
                  <li>Grunt plugin for generating SAP Fiori app template</li></b></td>
            </tr>
            <tr>           
              <td width="600px">&nbsp;&nbsp;&nbsp;A grunt plugin for generating SAP Fiori application templates. This node.js module had over 100 downloads in a single month.( <a href="https://github.com/sbcd90/grunt-sap-fiori-template">https://github.com/sbcd90/grunt-sap-fiori-template</a> )</td>
            </tr>
            <tr>
              <td width="600px"> <b>&nbsp;&nbsp;&nbsp;Technologies used :</b> Node.js, Grunt<br/>    </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Research</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Patent titled <b>“Prediction of Planned Earned Values(BCWS) in Project Management using Artificial Neural Networks” </b>filed. <b>The ID of the patent application is 140501. </b>A US patent application has been filed with ID 82982841.<br/>
                  Here I did research on Artificial Neural Networks & how it can be applied in a prediction scenario in SAP Project Systems.<br/><br/>
                </li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Participated in IEEE NSPCDC 2011 & successfully published my research paper ‘An algorithmic solution to Couple-Casino game’. Paper available at this <a href="https://docs.google.com/file/d/0B64wlYotTLilNTFlODVkYjAtZmI1My00NmIxLWE1NjItMjJhMWE2MjJlODA0/edit?hl=en_US&amp;pli=1">link</a>.<br/></li>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Competitions</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Participated in Yahoo Open Hack Day 2012 & 2013 & was in top 10 in 2013. Hacks available in Github. ( <a href="https://github.com/sbcd90">https://github.com/sbcd90</a> )</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Participated in ACM ICPC 2010 & 2011 Regionals at IIT Kanpur & was placed in respectable positions.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Developed quite a few small applications, tools, frameworks & all are available on Github( <a href="https://github.com/sbcd90">https://github.com/sbcd90</a> ).</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Contributed to Chromium by providing small bug fixes.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Participated in SAP Labs India 'What the Hack' & submitted apps successfully. Apps developed on node.js , mongodb Stack.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Highest rating of in Topcoder. User id is sbcd90. Blue</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>&nbsp;&nbsp;&nbsp;Solved over 200 problems in various algorithms & puzzle websites like SPOJ(user id is sbd90), Project Euler(user id is sbcd), puzzle up etc.        </li>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td> 
          <div class="Title">Skillset</div>
          <table width="100%" align="left">
            <tr>
              <td style="font-weight:bold" width="300px">
                <li>Operating Systems:</li>
              </td>
              <td width="400px">GNU/Linux, Windows</td>
            </tr>
            <tr>
              <td style="font-weight:bold" width="300px">
                <li>Programming/Scripting Languages:</li>
              </td>
              <td width="400px">C/C++,JAVA, Python, Ruby, Perl, Scala, Bash, ABAP, Node.js</td>
            </tr>
            <tr>
              <td style="font-weight:bold" width="300px">
                <li>DBMS:</li>
              </td>
              <td width="400px">SAP HANA, MySQL, SQLite, MongoDB, CouchDB, Apache Derby, TaffyDB</td>
            </tr>
            <tr>
              <td style="font-weight:bold" width="300px">
                <li>Internet Technologies:</li>
              </td>
              <td width="400px">HTML5, Javascipt(client side libraries like AngularJS,PolymerJS, YUI, Jquery etc.) , CSS</td>
            </tr>
            <tr>
              <td style="font-weight:bold" width="300px">
                <li>Version Management System:</li>
              </td>
              <td width="400px">GIT, Gerrit, Jenkins, Bugzilla</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div class="Title">Rewards & Recognition</div>
          <table width="90%" align="left" leftmargin="10px">
            <tr>
              <td width="600px">
                <li>Winner of the SAP “Pole Star” award for the year 2014 which is given to the best Innovators.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>Winner of the SAP “All Rounder” award for the year 2014 which is given to the selected Best Employees for the year.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>Winner of the SAP “Rising Star” award for the year 2013 which is given to the best newcomer.        </li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>Winner of the SAP “Most Valuable Player” award multiple times for outstanding contribution in development.</li>
              </td>
            </tr>
            <tr>
              <td width="600px">
                <li>Was in the list of top 120 nominations for Hasso Plattner Founders Award for the year 2014.</li>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>